[Unit]
Description=Robosense RS16 Lidar Launch Service
After=multi-user.target

[Service]
Type=simple
User=robotics
WorkingDirectory=/home/robotics/repos/AI.R-Autonomous_Robot/Software/systemctls/scripts
ExecStart=/bin/bash zed.sh
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
