[Unit]
Description=Ouster Lidar Launch Service
After=multi-user.target

[Service]
Type=simple
User=robotics
WorkingDirectory=/home/robotics/repo/AI.R-ATV/Software/systemctls/scripts
ExecStart=/bin/bash ouster.sh
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
