[Unit]
Description=ROS2 Docker Compose Service
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/home/robotics/repo/AI.R-ATV/Software
ExecStart=/usr/bin/docker compose -f docker-compose.yml up
ExecStop=/usr/bin/docker compose -f docker-compose.yml down
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
