[Unit]
Description=Docker Compose for AI.R-ATV
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/home/sohanjanaka/repo/AI.R-ATV/Software
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
Restart=always
Group=docker
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_NET_RAW CAP_MKNOD CAP_SYS_RAWIO

[Install]
WantedBy=multi-user.target