<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="snower">

    <xacro:include filename="snower_core.xacro" />
    <xacro:include filename="zed2_camara.xacro" />
    <xacro:include filename="ouster_lidar.xacro" />
    <xacro:include filename="zedf9p_gnss.xacro" />

</robot>