# ROS 2-specific
install/
build/
log/
.colcon/
.colcon_cache/
src/CMakeLists.txt
src/*/CMakeLists.txt

# Python bytecode
*.pyc
__pycache__/

# ROS package dependencies
ros2_ws/deps/
ros2_ws/src/*/CMakeLists.txt
ros2_ws/src/*/.vscode/
ros2_ws/src/*/.idea/

# C++ build artifacts
*.o
*.so
*.a
*.d

# Ignoring IDE files (VSCode, CLion, etc.)
.vscode/
.idea/

# MacOS and Linux system files
.DS_Store
*.swp

# Arduino / ESP32 platformio specific files
.pio/
.clang_complete
.cppcheck
.clangd/
