# ROS 2-specific
install/
build/
log/
.colcon/
.colcon_cache/

# Python bytecode
*.pyc
__pycache__/

# ROS package dependencies
ros2_ws/deps/
ros2_ws/src/*/.vscode/
ros2_ws/src/*/.idea/

# C++ build artifacts
*.o
*.so
*.a
*.d
